

body{
    background-color: cornflowerblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* this is a comment */

h1{
    color: blueviolet;
    text-align: center;
}

p{
    font-size: 20px;
}

h1,h2{
    text-decoration: underline;
}

/* Class Selector */
.btn{
    background-color: blue;
    color: darkorange;
    padding: 16px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* id selector */
#intoPara{
    font-style: italic;
}